<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文档下载</title>
    <script th:replace="head"></script>
    <style>

        #url{
            width:60%;
        }
    </style>
</head>
<body>
<div th:replace="top.html"></div>
<div id="container" style="display: none">
    <div style="padding-top: 100px">
        <span>将需要下载的文档的网址复制到输入框，然后点击预览。</span>
    </div>
    <form id="indexForm" method="post" action="preview">
        <input id="url" type="text" name="url" required="true"><input type="submit" value="预览">
    </form>
</div>
</body>
<script>
    function resizedw(){
        var margin=$(window).height()*0.1;
        $("#indexForm").css("margin-top",margin);
    }

    var doit;
    window.onresize = function(){
        clearTimeout(doit);
        doit = setTimeout(resizedw, 100);
    };

    $(function () {
        resizedw();
        $("#container").show();
    })
</script>
</html>
