<nav class="navbar navbar-light" style="background-color: #e3f2fd;" xmlns:th="http://www.thymeleaf.org">
    <a class="navbar-brand" href="/">文档下载</a>

    <div th:if="${session.user ne null}"><th:block th:text="${session.user.email}"></th:block>  <a href="javascript:doLogout();">退出</a></div>
    <div th:if="${session.user eq null}"><a href="javascript:showLogin();">登录</a> <a href="javascript:showRegister();">注册</a> </div>
</nav>

<div id="loginModal" class="modal" tabindex="-1" role="dialog" data-backdrop="static" >
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <form id="loginForm" action="/" method="post">
                <input id="dialogType" type="hidden" value="1">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">登录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email" class="col-form-label">邮箱:</label>
                        <input type="text" class="form-control" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">密码:</label>
                        <input type="password" class="form-control" id="password" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $(document).ready(function() {
        $('#loginForm').on('submit', function(e){
            if($("#email").val().indexOf('@')<0){
                alert("请输入要正确的邮箱");
                e.preventDefault();
                return;
            }
            if($("#dialogType").val()==1){
                loLogin();
            }else{
                doRegister();
            }

            e.preventDefault();

        });
    });
</script>