<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文档下载</title>
    <script th:replace="head"></script>
</head>
<body>
<div id="container">
    <img id="loading"  src="img/loading.gif">
    <div id="preview" style="display: none">
        <button onclick="download();">下载</button>
    </div>
</div>
</body>
<script>
    var id=[[${id}]];
    function download() {
        $.post("download",function (result) {
            console.log(result);
        });
    }

    function startWebsocket() {
        var ws = new WebSocket('ws://' + location.host + '/downloader-ws'+'?id='+id);
        ws.onmessage = function (result) {
            var json = JSON.parse(result.data);
            if(json.success){
                $("#loading").hide();
                $("#preview").show();
            }
        }
    }

    $(function () {
        startWebsocket();
    });
</script>
</html>
