<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<RollingFile name="RollingFile" fileName="${sys:DOWNLOADER_HOME}/logs/downloader.log"
			filePattern="${sys:DOWNLOADER_HOME}logs/downloader-%d{yyyy-MM-dd}.log.gz">
			<PatternLayout pattern="%d{MM-dd HH:mm:ss} %-5level %logger{1} - %L - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{MM-dd HH:mm:ss} %-5level %logger{1} - %L - %msg%n" />
		</Console>
	</appenders>

	<loggers>
		<root level="debug">
			<appender-ref ref="RollingFile" />
			<appender-ref ref="STDOUT" />
		</root>
	</loggers>
</configuration>  