#container{
    width: 100%;
    height: 100%;
    text-align: center;
}

.modal-body img{
    width: 260px;
}

#preview_img{
    width: 700px;
}

#qr_bg{
    padding: 10px 30px 30px;
}

.qr_bg_alipay{
    background-color: #009FE7;
}

.qr_bg_wx{
    background-color: #22AB38;
}